@{
    ViewBag.Title = "About";
}
    <section class="jumbotron hero" id="about">
        <div class="row intro">
            <div class="small-centered ">
                <h1 class="hero-title">We are new team</h1>
                <p class="hero-paragraph">Still advancing, still learning, still developing our own startup</p>
            </div>
        </div>
    </section>
    <div class="after"></div>
    <div class="container marketing">
        <div class="text-center">
            <p class="lead">
                We are new kids in the town. Started as a project at Software Startup Academy 2015/16 in Osijek.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec turpis quis nunc blandit rutrum. Nullam vestibulum tellus a risus consequat dignissim. Aliquam eu ligula ut odio euismod rhoncus id a orci. Mauris mattis at enim sit amet convallis. Vivamus ac arcu ut urna viverra blandit. Nullam scelerisque mauris a velit scelerisque sodales. Donec tempor tincidunt dolor, vitae fringilla velit faucibus sed. Aliquam egestas pulvinar dolor quis vehicula. Fusce aliquet sodales eros, eu semper est. Praesent dignissim lectus nec lectus pulvinar, ac ultricies nibh porta. Morbi ultrices vehicula ex et consequat. Proin dignissim eget velit sed molestie. Etiam efficitur sem eget posuere placerat. Pellentesque vitae turpis a mi pharetra facilisis vel non tellus. Sed facilisis dolor eget leo congue hendrerit.
            </p>
        </div>
        <hr class="featurette-divider">
        <div class="text-center">
            <h2><span class="fa fa-code"></span>So, who are we?</h2>
        </div>
        <hr class="featurette-divider">
    </div>

    <main class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h4 class="text-uppercase text-center">Ivan Jurlina</h4>
                <div id="ivan"></div>
                <p class="lead"><span class="fa fa-chevron-right"></span>marketing specialist</p>
                <p>Nulla facilisi. Etiam quis nunc molestie, tempor leo scelerisque, rhoncus sem. Fusce pretium finibus dui id tristique. Nulla sed arcu a ex pulvinar vulputate. Etiam ex tortor, iaculis nec dolor et, rutrum sollicitudin massa. Suspendisse auctor mollis varius.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4 class="text-uppercase text-center">Luka Loina</h4>
                <div id="luka"></div>
                <p class="lead"><span class="fa fa-chevron-right"></span>backend developer</p>
                <p>Nulla facilisi. Etiam quis nunc molestie, tempor leo scelerisque, rhoncus sem. Fusce pretium finibus dui id tristique. Nulla sed arcu a ex pulvinar vulputate. Etiam ex tortor, iaculis nec dolor et, rutrum sollicitudin massa. Suspendisse auctor mollis varius.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4 class="text-uppercase text-center">Dino Repac</h4>
                <div id="dino"></div>
                <p class="lead"><span class="fa fa-chevron-right"></span>backend & frontend developer</p>
                <p>Nulla facilisi. Etiam quis nunc molestie, tempor leo scelerisque, rhoncus sem. Fusce pretium finibus dui id tristique. Nulla sed arcu a ex pulvinar vulputate. Etiam ex tortor, iaculis nec dolor et, rutrum sollicitudin massa. Suspendisse auctor mollis varius.</p>
            </div>
        </div>
    </main>