@{
    ViewBag.Title = "Contact";
}

<div class="container marketing top-padding">
    <h3>Feel free to contact us any time.</h3>
    <address>
        <strong>Support:</strong>   <a href="mailto:globalstartupconsultant@gmail.com">globalstartupconsultant@gmail.com</a><br />
    </address>
</div>