@{
    ViewBag.Title = "Home Page";
}

<section class="hero hero--image">
    <div class="row intro">
        <div class="small-centered medium-uncentered medium-6 large-7 columns">
            <h1 class="hero-title">Do you want to start?</h1>
            <p class="hero-paragraph">Ask our mentors a questions that will bring your startup up and running!</p>
        </div>
        <div class="small-centered medium-uncentered medium-6 large-5 columns">
            <div class="tech-img"></div>
        </div>
    </div>
</section>


<!-- Page Content -->
<div class="container marketing">
    <hr class="featurette-divider">
    <!-- First -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Something new...</h2>
            <p class="lead">GlobalStartupConsultant offers simplest way of boosting your start-up. It offers an answer to all of your questions in the start-up realm.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500" alt="one" src="~/Content/Images/solutions.png" data-holder-renderer="true" />
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- Second -->
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Startup world opens here</h2>
            <p class="lead">GlobalStartupConsultant makes possible to communicate with people from start-up world who share the knowledge and are willing to answer any of your questions.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500" alt="one" src="~/Content/Images/question.png" data-holder-renderer="true" />
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- Third -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">GlobalStartupConsultant</h2>
            <p class="lead">...helps you build your dream start-up and get it up on both legs.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500" alt="one" src="~/Content/Images/gsc.png" data-holder-renderer="true" />
        </div>
    </div>
</div>